{% extends "guest/base.html.twig" %}
{% block content %}


    <h1>Create Review</h1>

    <form action="" method="post" class="form-examples">

        <div class="form-example">
            <label for="name">Commentaire objet:
            <input type="text" name="title" id="title" required />
            <!-- required oblige a remplir  -->
            </label>
        </div>
        <div class="form-example">
            <label for="book-select">Choose a Book:</label>

            <select name="book_id" id="book-select">
                <option value="">--Please choose an option--</option>
                {% for book in books %}
                <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>


        </div>
        <div class="form-example">
            <label for="content">Enter your comment: {#            penser a mettre un label avec un textarea#}
                <textarea id="content" name="content" rows="4" cols="50" placeholder="Write your message here"></textarea>
            </label>

        </div>
{#        <div class="form-example">#}
{#            <label for="email">Enter your email: </label>#}
{#            <input type="email" name="email" id="email" required />#}
{#        </div>#}
        <div class="form-example">
            <input type="submit" value="Post your comment!" />
        </div>

    </form>

    {% for review in reviews %}
       <p>{{ review.title }} </p>
        <p>{{ review.content }}</p>
    {% endfor %}



{% endblock %}
