{% extends "Guest/base.html.twig" %}

{% block metatitle%} Blog {% endblock %}

{% block content %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <main>
        <h2>Le Blog de Lei Jie</h2>
    </main>
{% endblock %}



