{% extends "Guest/base.html.twig" %}

{% block metatitle%} Get your article {% endblock %}

{% block content %}
    <!--symfony configure pour que cela parte directement depuis Templates donc  Page donc pas besoin de mettre templates pour le chemin meme si on cree le dossier Partial pour mettre sa base il faudra ecrire 'Partial/articles.html.twig' sans indiquer  templates {Pourcent extends "Page/base.html.twig" Pourcent} -->
    <main>
        <h1 class="poke">Your favorite Category here:</h1>
        <h2 class="poke2">{{ category.title }}</h2>
        {% for article in category.articles %}
{#            <p class="poke2"><img src="{{ category.image }}"></p>#}

            <a href="{{ path('article_db_by_id', {id:article.id}) }}">See Your Article</a>
        {% endfor %}
    </main>
{% endblock %}